html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 19px;
}
.link {
    color: #0e5eb3;
    text-decoration: none;
}
.link:hover {
    color: #2b9dd1
}
.link[disabled] {
    pointer-events: none;
}
.func-btn {
    width:auto;
    height: auto;
    border:0;
    padding: 1px;
    border-radius: 0;
    background-color: #fff;
}
.text {
    white-space:pre-wrap;
    word-break: break-all;
}
.paper {
    display:flex;
    flex-direction: column;
    overflow-y:auto;
}
.paper > *{
    margin: 2.5%;
}
@media (min-width: 700px) {
    .func-btn {
        margin-left: 10px;
        margin-left: 10px;
    }
    .paper {
        margin-left: 15%;
        margin-right: 15%;
    }
    .paper > * {
        margin: 10px;
    }
    html {
        font-size: 16px;
    }
}